{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sakura Clothing</title>

    <link rel="icon" type="image/x-icon" href="{% static 'store/images/sakura_ico.ico' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/login.css' %}">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="{% static 'store/images/loginimages/registration-form-1.jpg' %}" alt="">
            </div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h3>Log in</h3>
            
                <div class="form-wrapper">
                    
                    <input type="text" placeholder="Username" class="form-control" name="username" required>
                    <i class="zmdi zmdi-account"></i>
                </div>
                
                <div class="form-wrapper">
                    <input type="password" placeholder="Password" class="form-control" name="password" required>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                
                <button type="submit" class="btn">Log in</button>
                
                <div class="Signup">
                    <p>Don't have an account? 
                        <a href="{% url 'signup' %}" class="link">Sign up</a>
                    </p>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>