{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sakura Clothing</title>

    <!-- This line of code is for the icon. -->
    <link rel="icon" type="image/x-icon" href="{% static 'store/images/sakura_ico.ico' %}">

    <!-- These lines of code are for the font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- These lines of code are for linking the CSS. -->
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/jeans.css' %}">
</head>
<body>

    <!-- This code is for the navigation bar. Anchor tag is used for buttons that take us to the next page. -->
    <header class="navigation">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'store/images/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="category">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'jeans' %}">Jeans</a>
                    </li>
                    <li>
                        <a href="{% url 'clothes' %}">Clothes</a>
                    </li>
                    <li>
                        <a href="{% url 'shoes' %}">Shoes</a>
                    </li>
                    <li>
                        <a href="{% url 'accessories' %}">Accessories</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'cart' %}">Cart</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Log in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="display">       
        <div class="box">
            <div class="hover">
                <img src="{% static 'store/images/shoes/ysl.jpg' %}" alt="YSL Shoes">
                <button>Add to cart</button>
            </div>
            <p>Shoes</p>
            <h4>YSL Shoes</h4>
            <rs>RS 5,000.00</rs>
        </div>
        <div class="box">
            <div class="hover">
                <img src="{% static 'store/images/shoes/martin-01.jpg' %}" alt="Dr Martin">
                <button>Add to cart</button>
            </div>
            <p>Shoes</p>
            <h4>Dr Martin</h4>
            <rs>RS 3,000.00</rs>
        </div>
        <div class="box">
            <div class="hover">
                <img src="{% static 'store/images/shoes/loafer-01.jpg' %}" alt="Loafer">
                <button>Add to cart</button>
            </div>
            <p>Shoes</p>
            <h4>Loafer</h4>
            <rs>RS 2,500.00</rs>
        </div>
        <div class="box">
            <div class="hover">
                <img src="{% static 'store/images/shoes/block heel-01.jpg' %}" alt="Block heel">
                <button>Add to cart</button>
            </div>
            <p>Shoes</p>
            <h4>Block heel</h4>
            <rs> RS 2,000.00</rs>
        </div>
    </div>

    <!-- This section of code is for the footer section. -->
    <footer>
        <div class="divider"></div>
        <div class="container">
            <div class="footer-col1">
                <img src="{% static 'store/images/logo.png' %}" alt="Sakura Clothing Logo">  
                <p></p>
                <p></p>
            </div>
            <div class="footer-col2">
                <div class="col2-col1">
                    <p>FIND US AT</p>
                    <p>"address, address"</p>
                </div>
                <div class="col2-col2">
                    <p>CONTACT US</p>
                    <p>+977 0000000000</p>
                    <p>info@sakuraclothing.com</p><br>
                </div>
            </div> 
        </div>
        <div class="divider"></div>
        <div class="footer">
            <p>© Sakura Clothing 2024 COOKIES POLICY | PRIVACY POLICY</p>
        </div>
    </footer>
</body>
</html>